# Container Registry
REGISTRY_OWNER=x

# Database
PSQL_DB_HOST=x.x.x.x
PSQL_DB_NAME=x
PSQL_DB_USER=x
PSQL_DB_PASSWORD=x
PSQL_DB_PORT=5432

SUPERADMIN_USERNAME=x
SUPERADMIN_EMAIL=x
SUPERADMIN_PASSWORD=x

# GitLab
GITLAB_PRIVATE_TOKEN=x

# GitHub
GITHUB_PRIVATE_TOKEN=x

# JWT
JWT_SECRET=x

# BFF API
V6Y_BFF_API_PATH=/api/bff
V6Y_BFF_API_PORT=4001

# Main Analyzer API
V6Y_MAIN_API_PATH=/api/main
V6Y_MAIN_API_PORT=4002

# Static Analyzer API
V6Y_STATIC_ANALYZER_API_PATH=/api/static
V6Y_STATIC_ANALYZER_API_PORT=4003

# Dynamic Analyzer API
V6Y_DYNAMIC_ANALYZER_API_PATH=/api/dynamic
V6Y_DYNAMIC_ANALYZER_API_PORT=4004

# DevOps API
V6Y_DEVOPS_API_PATH=/api/devops
V6Y_DEVOPS_API_PORT=4005

# Frontend
NEXT_PUBLIC_V6Y_BFF_PATH=xxxx
V6Y_FRONTEND_PORT=4006

# Frontend BO
NEXTAUTH_URL=xxxx
V6Y_FRONTEND_BO_PORT=4007

# Figma MCP
FIGMA_CLIENT_ID=x
FIGMA_CLIENT_SECRET=x
