REGISTRY_OWNER=your_organization

PSQL_DB_HOST=x.x.x.x
PSQL_DB_NAME=x
PSQL_DB_USER=x
PSQL_DB_PASSWORD=x
PSQL_DB_PORT=
DEFAULT_ACCOUNT=superadmin
DEFAULT_ACCOUNT_MAIL=superadmin@example.com
DEFAULT_ACCOUNT_PASSWORD_HASH=$2a$10$fSDUAlp4s8gJNc7HtZdMdeevQHAyRgCy6knbL1QQz3pHstXSbWm0W

GITLAB_PRIVATE_TOKEN=x
GITHUB_PRIVATE_TOKEN=x

JWT_SECRET=x

V6Y_DEVOPS_API_PATH=/v6y/bfb-devops-auditor/
V6Y_DEVOPS_API_PORT=4005

V6Y_DYNAMIC_ANALYZER_API_PATH=/v6y/bfb-dynamic-auditor
V6Y_DYNAMIC_ANALYZER_API_PORT=4004

V6Y_MAIN_API_PATH=/v6y/bfb-main/
V6Y_MAIN_API_PORT=4005

V6Y_STATIC_ANALYZER_API_PATH=/v6y/bfb-static-auditor/
V6Y_STATIC_ANALYZER_API_PORT=4003

V6Y_BFF_API_PATH=/v6y/graphql/
V6Y_BFF_API_PORT=4001

NEXT_PUBLIC_V6Y_BFF_PATH=xxxx
NEXTAUTH_URL=xxxx
