PSQL_DB_HOST=x.x.x.x
PSQL_DB_NAME=x
PSQL_DB_USER=x
PSQL_DB_PASSWORD=x
PSQL_DB_PORT=

GITLAB_PRIVATE_TOKEN=x
GITHUB_PRIVATE_TOKEN=x

JWT_SECRET=x

V6Y_MAIN_API_PATH=/v6y/bfb-main/
V6Y_MAIN_API_PORT=4005

V6Y_STATIC_ANALYZER_API_PATH=http://localhost:port/v6y/bfb-static-auditor/auditor/start-static-auditor.json
V6Y_DYNAMIC_ANALYZER_API_PATH=http://localhost:port/v6y/bfb-dynamic-auditor/auditor/start-dynamic-auditor.json