PSQL_DB_HOST=x.x.x.x
PSQL_DB_NAME=x
PSQL_DB_USER=x
PSQL_DB_PASSWORD=x
PSQL_DB_PORT=

GITLAB_PRIVATE_TOKEN=xxx
GITHUB_PRIVATE_TOKEN=xxx

JWT_SECRET=x

V6Y_DEVOPS_API_PATH=/v6y/bfb-devops-auditor/
V6Y_DEVOPS_API_PORT=4005

